form p{
    font-weight: bold;
    font-size: 18px;
}
form{
    border: 1px solid;
    width: 600px;
    margin-left: 50px;
    margin-bottom: 20px;
    background:  rgba(116, 240, 78, 0.64);
    padding-left: 50px;
    padding-bottom: 30px;
}
